.player {
 text-align: left;
}
.hands {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3vw;
}

.rotate {
    transform: rotate(180deg);
    justify-content: flex-end;
}