.card {
    width: fit-content;
    height: fit-content;
    img {
        width: 7vw;
        height: auto;
    }
}

.placeholder {
    img {
        visibility: hidden;
    }
    border: 1px solid black;
    border-radius: 8px;
}